#galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 24px 32px;
    align-self: stretch;
    justify-content: center;
}


@media (width <= 440px) {
    #galeria img {
        width: 328px;
        height: 328px;}
}
